<h2>Total hits {{ results.all.hits.total }}, neutral: {{ results.neutral.hits.total }}, critical: {{ results.critical.hits.total }}</h2>

<table>
  <tr>
    <td><h2>All</h2></td>
    <td><h2>Neutral</h2></td>
    <td><h2>Critical</h2></td>
  </tr>
  <tr>
    <td>
      <ul class="search-terms">
        {{#terms.all}}
          <li>{{.}}</li>
        {{/terms.all}}
      </ul>
    </td>
    <td>
      <ul class="search-terms">
        {{#terms.neutral}}
          <li>{{.}}</li>
        {{/terms.neutral}}
      </ul>
    </td>
    <td>
      <ul class="search-terms">
        {{#terms.critical}}
          <li>{{.}}</li>
        {{/terms.critical}}
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      {{#results.all.hits.hits}}
        <div class="result">
          <h4>{{_source.date}}, {{_source.borough}} ({{_index}}) | <a href="/document/{{_id}}">Link</a> | {{highlight.text.length}} matches</h4>
          {{#highlight.text}}
            <p class="excerpt">...{{{.}}}...</p>
          {{/highlight.text}}
        </div>
      {{/results.all.hits.hits}}
    </td>

    <td>
      {{#results.neutral.hits.hits}}
        <div class="result">
          <h4>{{_source.date}}, {{_source.borough}} ({{_index}}) | <a href="/document/{{_id}}">Link</a> | {{highlight.text.length}} matches</h4>
          {{#highlight.text}}
            <p class="excerpt">...{{{.}}}...</p>
          {{/highlight.text}}
        </div>
      {{/results.neutral.hits.hits}}
    </td>

    <td>
      {{#results.critical.hits.hits}}
        <div class="result">
          <h4>{{_source.date}}, {{_source.borough}} ({{_index}}) | <a href="/document/{{_id}}">Link</a> | {{highlight.text.length}} matches</h4>
          {{#highlight.text}}
            <p class="excerpt">...{{{.}}}...</p>
          {{/highlight.text}}
        </div>
      {{/results.critical.hits.hits}}
    </td>
  </tr>
</table>


