<h1>Alcohol and health</h1><h2>{{ documentCount }} documents searchable</h2>
<table>
  <tr>
    <td><h2>All ({{ results.all.hits.total }})</h2></td>
    <td><h2>Neutral ({{ results.neutral.hits.total }})</h2></td>
    <td><h2>Critical ({{ results.critical.hits.total }})</h2></td>
  </tr>
  <tr>
    <td>
      <ul class="search-terms">
        {{#terms.all}}
          <li>{{.}}</li>
        {{/terms.all}}
      </ul>
    </td>
    <td>
      <ul class="search-terms">
        {{#terms.neutral}}
          <li>{{.}}</li>
        {{/terms.neutral}}
      </ul>
    </td>
    <td>
      <ul class="search-terms">
        {{#terms.critical}}
          <li>{{.}}</li>
        {{/terms.critical}}
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      {{#results.all.hits.hits}}
        <div class="result">
          <h4><a href="http://search.wellcomelibrary.org/iii/encore/search?target={{_source.id}}&submit=Search">{{_source.id}}</a> {{#_source.date}}{{_source.date}},{{/_source.date}} {{_source.borough}} ({{_index}}) | <a href="/document/{{_id}}">Link</a> | {{highlight.text.length}} matches | Score {{ _score }}</h4>
          {{#highlight.text}}
            <p class="excerpt">...{{{.}}}...</p>
          {{/highlight.text}}
        </div>
      {{/results.all.hits.hits}}
    </td>

    <td>
      {{#results.neutral.hits.hits}}
        <div class="result">
          <h4><a href="http://search.wellcomelibrary.org/iii/encore/search?target={{_source.id}}&submit=Search">{{_source.id}}</a> {{#_source.date}}{{_source.date}},{{/_source.date}} {{_source.borough}} ({{_index}}) | <a href="/document/{{_id}}">Link</a> | {{highlight.text.length}} matches | Score {{ _score }}</h4>
          {{#highlight.text}}
            <p class="excerpt">...{{{.}}}...</p>
          {{/highlight.text}}
        </div>
      {{/results.neutral.hits.hits}}
    </td>

    <td>
      {{#results.critical.hits.hits}}
        <div class="result">
          <h4><a href="http://search.wellcomelibrary.org/iii/encore/search?target={{_source.id}}&submit=Search">{{_source.id}}</a> {{#_source.date}}{{_source.date}},{{/_source.date}} {{_source.borough}} ({{_index}}) | <a href="/document/{{_id}}">Link</a> | {{highlight.text.length}} matches | Score {{ _score }}</h4>
          {{#highlight.text}}
            <p class="excerpt">...{{{.}}}...</p>
          {{/highlight.text}}
        </div>
      {{/results.critical.hits.hits}}
    </td>
  </tr>
</table>


