body {
  font-size: 120%;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 0;
}

.container {
  width: 90%;
  margin: 2em auto;
}

.search-term-wrapper {
  font-size: 80%;
}

.search-terms  {
  display: inline;
  list-style: none;
  padding: 0;
}

.search-terms li {
  display: inline;
}

.search-terms li:after {
  content: ", ";
}

.search-terms li:last-child:after {
  display: none;
}

.excerpt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 3em;
  margin-bottom: 0;
}

.result {
  margin-bottom: 1em;
}

.result h4 {
  margin-bottom: 0;
}
