body {
  font-size: 120%;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

h4 {
  margin-bottom: 0;
}

table {
  width: 100%;
  border-spacing: 1em;
}

td {
  vertical-align: top;
  width: 33%;
}

.container {
  width: 90%;
  margin: 2em auto;
}

.search-term-wrapper {
  font-size: 80%;
}

.search-terms  {
  display: inline;
  list-style: none;
  padding: 0;
  font-size: 80%;
}

.search-terms li {
  display: inline;
}

.search-terms li:after {
  content: ", ";
}

.search-terms li:last-child:after {
  display: none;
}

.excerpt {
  opacity: 0.9;
  font-size: 80%;
  margin-bottom: 0;
}

b {
  background-color: khaki;
  font-weight: normal;
  padding: 0.1em;
}

.result {
  margin-bottom: 1em;
}

.result h4 {
  margin-bottom: 1em;
}

.moh {
  background: coral;
  color: white;
  padding: 0.2em;
}

.cookbooks {
  background: dodgerblue;
  color: white;
  padding: 0.2em;
}

.insurance {
  background: olive;
  color: white;
  padding: 0.2em;
}

p {
  font-family: Georgia, serif;
}
